MONGO_URI=mongodb+srv://user:password@cluster.mongodb.net/dbname
PORT=3000

# Discord OAuth2 & Guild Verification Config
DISCORD_CLIENT_ID=your_discord_client_id_here
DISCORD_CLIENT_SECRET=your_discord_client_secret_here
DISCORD_REDIRECT_URI=http://localhost:5173/auth/callback
ALLOWED_GUILD_ID=1515709357856264212
DISCORD_BOT_TOKEN=your_discord_bot_token_here
JWT_SECRET=thienthumon_secret_jwt_key_2026

CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name_here
CLOUDINARY_API_KEY=your_cloudinary_api_key_here
CLOUDINARY_API_SECRET=your_cloudinary_api_secret_here
CLOUDINARY_UPLOAD_PRESET=your_cloudinary_upload_preset_here